// Portfolio Modal 2
#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Krow
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-gear
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/Render_Krow58.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Teclado split de 58 teclas baseado no framework KMK utilizando o microcontrolador RP-2040.
                                | Os switch estão dispostos para facilitar a solda de forma manual (hand wire), toda a estrutura é feita para ser fabricada em uma impressora 3D padrão sem dificuldades. Os arquivos para a impressão e o código fonte estão disponíveis no meu repositório do GitHub
                            a.btn.btn-secondary(href='https://github.com/klauty/Krow', target='_blank' )
                                | Github

                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Fechar
