// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Fila-Matic
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-gear
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/Render_Filamatic.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | Máquina para a fabricação de filamento para impressora 3D usando garrafas PET como matéria prima.
                                | O projeto tem baixo custo e utiliza componentes eletrônicos de fácil acesso além de peças impressas em 3D. Os arquivos para a impressão e o código fonte estão disponíveis no meu repositório do GitHub
                            a.btn.btn-secondary(href='https://github.com/klauty/FilaMatic', target='_blank' )
                                | Github

                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Fechar
